[Unit]
Description=Container Template
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/usr/bin/docker start container

[Install]
WantedBy=multi-user.target
